In [1]:
basic_list = ["Hello", 1234, 1.234, True]
depth2_list = ["Hello", 1234, [1.234, True]]
depth3_list = [["Hello"], [1234, [1.234, True]]]

In [2]:
print("from basic_list:", basic_list[2])

from basic_list: 1.234

In [3]:
print("from depth2_list", depth2_list[2])
print("from depth2_list", depth2_list[2][0])

from depth2_list [1.234, True]
from depth2_list 1.234

In [4]:
print("frome depth3_list:", depth3_list[1])
print("frome depth3_list:", depth3_list[1][1])
print("frome depth3_list:", depth3_list[1][1][0])

frome depth3_list: [1234, [1.234, True]]
frome depth3_list: [1.234, True]
frome depth3_list: 1.234

In [5]:
print("negative indexing:", basic_list[-3])

negative indexing: 1234

In [6]:
print("source list:", basic_list)
print("[start:end]", basic_list[1:3])

source list: ['Hello', 1234, 1.234, True]
[start:end] [1234, 1.234]

In [7]:
print("[start:]", basic_list[2:])
print("[:end]", basic_list[:2])

[start:] [1.234, True]
[:end] ['Hello', 1234]

In [8]:
print("[start:negative_end]", basic_list[1:-1])

[start:negative_end] [1234, 1.234]

In [9]:
try:
    print(depth2_list[5])
except IndexError as ie:
    print("IndexError:", ie)

IndexError: list index out of range

In [10]:
print("[partially overlap]", basic_list[2:10])

[partially overlap] [1.234, True]

In [11]:
print("[out of range]", basic_list[5:10])

[out of range] []

In [12]:
#연습문제 1) depth2_list에서 [1.234]를 출력해 보세요. (주의: 1.234가 아닌 [1.234] 입니다.)

In [13]:
mammal = ["dog", "cat", "human"]
reptile = ["snake", "lizard", "frog"]
bird = ["eagle", "sparrow", "chicken"]
animal = mammal + reptile + bird
print("\nlist concatenation")
print("animal:", animal)

list concatenation
animal: ['dog', 'cat', 'human', 'snake', 'lizard', 'frog', 'eagle', 'sparrow', 'chicken']

In [14]:
mammals = mammal*3
print(mammals)

['dog', 'cat', 'human', 'dog', 'cat', 'human', 'dog', 'cat', 'human']

In [15]:
members = ["나연", "정연", "지효"]
tests = ["vocl", "dance", "rap"]
# for문을 쓰면 더 간단하게 만들수 있다.
first_row = members[0:1]*3 + members[1:2]*3 + members[2:3]*3
print("first row", first_row)

first row ['나연', '나연', '나연', '정연', '정연', '정연', '지효', '지효', '지효']

In [16]:
second_row = tests*3
print("second_row", second_row)

second_row ['vocl', 'dance', 'rap', 'vocl', 'dance', 'rap', 'vocl', 'dance', 'rap']

In [17]:
string = "Hello"
print(f"\nlen of {string}:", len(string))
# => len of Hello: 5
mylist = [1, 2, 3, 4]
print(f"len of {mylist}:", len(mylist))
# => len of [1, 2, 3, 4]: 4

len of Hello: 5
len of [1, 2, 3, 4]: 4

In [18]:
mylist = [1, 2, 3, 4, 5]
del mylist[2]
print("\nafter deleting [2]:", mylist)

after deleting [2]: [1, 2, 4, 5]

In [19]:
del mylist[2:]
print("after deleting [2:]:", mylist)

after deleting [2:]: [1, 2]

In [20]:
mylist = [1, 2, 3, 4, 5]
mylist[0] = "Life"
print("\nchange element by indexing:", mylist)

change element by indexing: ['Life', 2, 3, 4, 5]

In [21]:
mylist[1:4] = ["is", "too", "short"]
print("\nchange elements by slicing:", mylist)

change elements by slicing: ['Life', 'is', 'too', 'short', 5]

In [22]:
path = ["/home", "ian", "work", "ian-lecture"]
print("joined path:", "/".join(path))

joined path: /home/ian/work/ian-lecture

In [23]:
time = ["13", "20", "30"]
print("joined time:", ":".join(time))

joined time: 13:20:30

In [24]:
twice = ["나연", "정연", "모모", "사나", "지효", "미나", "다현", "채영", "쯔위"]
print("채영" in twice)

True

In [25]:
if "채영" in twice:
    print("채영은 트와이스 입니다.")
if "채령"  in twice:
    print("채령은 트와이스가 아닙니다.")

채영은 트와이스 입니다.

In [26]:
tottenham = ['Kane', 'Moura', 'Lloris', 'Sissoko', 'Alli', 'Rose']
print("Tottenham vs Southampton 2019-03-10 starting line up: \n", tottenham)
# sort(): 원소 알파벳순, 크기순 정렬, in-place 함수기 때문에 아무것도 리턴하지 않는다.
print("sort() is in-place function:", tottenham.sort())

Tottenham vs Southampton 2019-03-10 starting line up:
 ['Kane', 'Moura', 'Lloris', 'Sissoko', 'Alli', 'Rose']
sort() is in-place function: None

In [27]:
print("sort by name:", tottenham)

sort by name: ['Alli', 'Kane', 'Lloris', 'Moura', 'Rose', 'Sissoko']

In [28]:
tottenham.remove('Moura')
print("remove", tottenham)

remove ['Alli', 'Kane', 'Lloris', 'Rose', 'Sissoko']

In [29]:
tottenham.insert(1, 'Son')
print("At 72, Moura out Son in:", tottenham)

At 72, Moura out Son in: ['Alli', 'Son', 'Kane', 'Lloris', 'Rose', 'Sissoko']

In [30]:
print("pop 0", tottenham.pop(0))

pop 0 Alli

In [31]:
print("alli removed", tottenham)

alli removed ['Son', 'Kane', 'Lloris', 'Rose', 'Sissoko']

In [32]:
del tottenham[-2]
print("remove 2 players:", tottenham)

remove 2 players: ['Son', 'Kane', 'Lloris', 'Sissoko']

In [33]:
tottenham.append('Davies')
tottenham.append('Llorente')
print("At 82, Davies and Llorente in:", tottenham)

At 82, Davies and Llorente in: ['Son', 'Kane', 'Lloris', 'Sissoko', 'Davies', 'Llorente']

In [34]:
tottenham.reverse()
print("reverse order", tottenham)

reverse order ['Llorente', 'Davies', 'Sissoko', 'Lloris', 'Kane', 'Son']

In [35]:
#연습문제 1) wdgirls_debut에서 멤버를 삭제, 추가하여 wdgirls_final을 만들어 보세요.

In [36]:
wdgirls_debut = ["선예", "예은", "소희", "현아", "선미"]
for member in wdgirls_debut:
    print(member)

선예
예은
소희
현아
선미

In [37]:
itzy = ["예지", "리아", "류진", "채령", "유나"]
print("convert to iter object")
itzy = iter(itzy)
try:
    print("next1:", next(itzy))
    print("next2:", next(itzy))
    print("next3:", next(itzy))
    print("next4:", next(itzy))
    print("next5:", next(itzy))
    print("next6:", next(itzy))
except StopIteration:
    print("error: iterator finished")

convert to iter object
next1: 예지
next2: 리아
next3: 류진
next4: 채령
next5: 유나
error: iterator finished

In [38]:
print("square numbers")
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print("square of {}  is {}".format(n, n*n))

square numbers
square of 1  is 1
square of 2  is 4
square of 3  is 9
square of 4  is 16
square of 5  is 25

In [39]:
for n in numbers:
    print(f"square of {n} is {n**2}")

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25